<div class="sidenav" [ngClass]="isSidebarSmall() ? 'sidenav-small' : ''">
	<div class="logo-container">
		<button class="logo" (click)="toggleSidebarLogo()">
			<i class="fal fa-bars"></i>
		</button>
		@if (!isSidebarSmall()){
		<div class="logo-text">Sidebar</div>
		<button class="btn-close" (click)="closeSidebar()">
			<i class="fal fa-times close-icon"></i>
		</button>
		}
	</div>
	<div class="sidenav-nav">
		@for (menuItem of menuItems; track $index) {
		<li class="sidenav-nav-item">
			<a
				class="sidenav-nav-link"
				[routerLink]="[menuItem.routerLink]"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: true }"
			>
				<i class="sidenav-link-icon" [class]="menuItem.icon"></i>
				@if (!isSidebarSmall()) {
				<span class="sidenav-link-text">{{ menuItem.linkText }}</span>
				}
			</a>
		</li>
		}
	</div>
</div>
