<div class="sidenav">
	<div class="logo-container">
		<button class="logo">
			<i class="fal fa-bars"></i>
		</button>
		<div class="logo-text">Sidebar</div>
		<button class="btn-close">
			<i class="fal fa-times close-icon"></i>
		</button>
	</div>
	<div class="sidenav-nav">
		@for (menuItem of menuItems; track $index) {
		<li class="sidenav-nav-item">
			<a
				class="sidenav-nav-link"
				[routerLink]="[menuItem.routerLink]"
				routerLinkActive="active"
				[routerLinkActiveOptions]="{ exact: true }"
			>
				<i class="sidenav-link-icon" [class]="menuItem.icon"></i>
				<span class="sidenav-link-text">{{ menuItem.label }}</span>
			</a>
		</li>
		}
	</div>
</div>
